


.chatBox {
position: relative;
top: 435px;
right: 80px;
}

.sendBtn {
	position: relative;
	top: 433px;
	left: 175px;
	
}

.fileBtn {
	
	position: relative;
	top: 435px;
	right: 70px;
	
}
	
.picBtn {
position: relative;
top: 435px;
right: 60px;	
	
}

.myfile {
	
	position: relative;
	top: 412px;
	left: 330px;
	
	
}