


.chatBox {
position: relative;
top: 435px;
right: 60px;
}

.sendBtn {
	position: relative;
	top: 435px;
	left: 140px;
	
}

.fileBtn {
	
	position: relative;
	top: 435px;
	right: 70px;
	
}
	
.picBtn {
position: relative;
top: 435px;
right: 60px;	
	
}