body {
    background-color: #b3b3b3;
}

#header {
    background-color: #80b3ff;
    text-align: left;
}

#main {
    
}

#content { 

}

.title {
    font-size: 32;    
    text-shadow: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    font-size: 28;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    font-size: 24;
    font-family: Arial, Helvetica, sans-serif;
}