*{
    margin:0px;
    padding:0px;
    font-family: Arial;
    font-size:12px;
    
    
}

body {
    background-image: url("../img/docbook-bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  flex: 4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 5px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* flexbox */

/*container 1*/
.container1 {
  display: flex;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container3 {
  display: flex;
}

.container4 {
  display:flex;
  flex-direction: column;
}


/* chat design */

.containerchat{
max-width: 500 !important ;
margin: auto;
margin-top: 4%;
font-family: sans-serif;
letter-spacing: 0.5px;

}


}

.msg-header{
border: 1px solid #ccc;
width: 100%;
height:10%;
border-bottom: none;
display: inline-block;
background-color: #007bff;


}


.msg-header-img{
  
border-radius: 50%;
  width: 40px;
  margin-left: 5%;
  margin-top: 12px;
  float: left;
}

.active{
  width: 120px;
  float:left;
  margin-top:10px;


}

.active h4{
  font-size: 20px;
  margin-left: 20px;
  color: #fff;
  
}

.active h6{
font-size: 10px;
  margin-left: 10px;
  line-height: 2px;
  color: #fff;
}


.header-icons{

  width: 120px;
  float:right;
  margin-top: 12px;
  margin-right: 10px;
}

 

.header-icons .fa
{
  color: #fff;
  cursor:pointer;
  margin: 10px;


}

.chat-pg 
{
padding  0 50px 0;


}

.msg-inbox {
border: 1px solid #ccc;
overflow: hidden;
padding-bottom: 30px;
}

.chat {

padding: 30px 15pz 0 25px;

}

.msg-pg {

height: 516px;
overflow-y: auto;

}

.received-msgs
{
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;

}

.received-msg
{
width: 57%
}

.received-msg-inbox
{
background: #efefef none repeat scroll 0 0;
border-radius: 10px;
color: #646464;
font-size: 14px;
margin: 0;
padding: 5px 10px 5px 12px;
width: 100%;
}

.time {

  
color: #777;
display: block;
font-size: 12px;
margin: 8px 0 0;
  
}

.outgoing-msg {
overflow: hidden;
margin: 26px 20px;

}

.outgoing-msg-inbox {

background: #0077bff none repeat scroll 0 0;
color: #fff;
border-radius: 10px;
font-size: 14px;
}


.outgoing-chats-msg p
{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100px;
}
.outgoing-chats-msg
{
    float: left;
    width: 46%;
    margin-left: 45%;
}
.outgoing-chats-img
{
    display: inline-block;
    width: 20px;
    float: right;
}
.msg-bottom
{
    position: relative;
    height: 10%;
    background-color: #007bff;
}
.input-group
{
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
}

.login-input-group
{
    display:inline;
    margin-top: 13px;
    margin-right: 13px;
   
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
}

.form-control
{
    border: none !important;
    border-radius: 20px !important;
}
.input-group-text
{
    background: transparent !important;
    border: none !important;
}
.input-group .fa
{
    color: #007bff;
    float: right;
}
.bottom-icons
{
    float: left;
    margin-top: 17px;
    width: 30% !important;
    margin-left: 22px;
}
.bottom-icons .fa
{
    color: #fff;
    padding: 5px;
}
.form-control:focus
{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}



/*containers div border 
.container1 div, .container2 div{
  border:1px #000000 solid;
  padding:10px;
}

.container4{
  display: flex;
  justify-content: left;

}
/*
.container1 div, .container2, .container3, .container4 div{
  border:1px #000000 solid;
  padding:10px;
}
*/

.container4 div{
  border:1px black solid;
  padding:10px;
  margin:20px;

}


.box1 {
  flex: 3;
  order: 2;
  color: rgba(2, 2, 2, 0.74);
  font-size: 24px;
  text-align: center;
  
}

.box2 {
  flex: 1;
  order: 1;
}

.box3 {
  flex: 1;
  order: 3;
}

/*container 2 boxes*/
.container2-box{
  flex-basis: 27%;  
}

/*container 3 boxes*/

.container3-box1 {
  flex: 8;
  order: 1;
}

.container3-box2 {
  flex: 1;
  order: 2;
}

.container3-box3 {
  flex: 1;
  order: 3;
}

/*container 4 boxes*/

.container4-box1 {
  flex: 1;
  order: 1;
}

.container4-box2 {
  flex: 1;
  order: 2;
}

.container4-box3 {
  flex: 1;
  order: 3;
}


/* input boxes */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
}

input[type=submit] {
  text-align: center;
  font-size: 16px;
  width: 100%;
  background-color: rgba(6, 149, 216, 0.5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px #000 solid;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(107, 107, 107, 0.781);
  color: #ccc;
}

input[type=submit]:active {
  background-color: rgba(6, 149, 216, 0.5);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.submit-btn{

  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient( to right, rgb(6, 161, 223), rgb(77, 136, 224));
  border: 0;
  outline: none;
  border-radius: 30px;
}


.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  
}


.input-row .input-group{

  flex-basis: 48%;

}


/* headings */
/* formatting */
label {
  font-size: 18px;
  color: #000;
}


h1 {
  font-size: 36px;
  color: black;
}

h3 {
  color: black;
  font-size: 30px;
}

p.normal {
  line-height: 1.5;
  color: #000;
  font-size: 14px;
}

b.big {
  line-height: 1.5;
  color: #000;
  font-size: 16px;
}

/* button styles */

.button {
  
  background-color: rgba(148, 147, 147, 0.726);
  border-style: double;
  border-color: rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right:50px;
}

.button:hover {
  background-color: rgba(6, 150, 216, 0.788);
  color: white;
}

.button:active {
  background-color: rgba(75, 198, 255, 0.788);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}


.buttonS {
  background-color: rgb(223, 223, 223);
  border-style: solid;
  border-color:black;
  border-radius: 32px;
  color: black;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  transition: all 0.5s;
}

.buttonS:hover {
  background-color: rgba(6, 150, 216, 0.788);
  color: white;
}

.buttonS span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonS span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonS:hover span {
  padding-right: 25px;
}

.buttonS:hover span:after {
  opacity: 1;
  right: 0;
}

/*loginandrego*/

.loginbutton {
  background-color: #bbb;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}
.loginbutton:hover {
border: none;
background: orange;
box-shadow: 0px 0px 1px #777;
  }

.registerbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  
}


/* footer */

.footer {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: rgba(6, 128, 184, 0.753);
  bottom: 0;
  left: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 250px; 
}

/* tables */
#general {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#general th {
  border: 1px solid rgb(0, 0, 0);
  padding: 4px;
  font-size: 26px;
}
#general td {
  color: #000;
  font-size: 18px;
  padding: 4px;
}

#general tr:nth-child(even){
  background-color: rgba(221, 221, 221, 0.514);
}

#general tr:hover {
  background-color: #ddd;
}

#general th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(92, 193, 240, 0.5);
  color: rgb(0, 0, 0);
}

#contact {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#contact td, #contact th {
  border: 1px solid rgb(0, 0, 0);
  padding: 4px;
}

#contact tr:nth-child(even){background-color: rgba(221, 221, 221, 0.514);}

#contact tr:hover {background-color: #ddd;}

#contact th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(55, 157, 204, 0.5);
  color: white;
}

/*logo stuff*/

.logo {
    width:125px;

        }
        
.logo img {
    width:120px;
    height:100px;
        }
   
.headerMenu {
    background-color:rgba(6, 128, 184, 0.753);
    height:"50px";
    border-bottom:0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    
        }

#wrapper {
    margin-left:10px;
    margin-right:auto;
    width:1000px;
    padding-top:0px;
    padding-bottom:0px;
        }
 


/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgba(53, 52, 52, 0.719);
    overflow: auto;
    
  }
  
/* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
/* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgba(0, 0, 0, 0.658);
  }
  
/* Current/active navbar link */
.navbar a:active {
  background-color: rgba(6, 149, 216, 0.5);
  box-shadow: 0 5px #666;
  transform: translate();
}

/* float*/
    .column.side, .column.middle {
     width: 100%;
    }
    
/* Chat System*/

  .chatBox {
    position: relative;
    top: 475px;
  }


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  flex: 4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 5px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* Login Rego Pages*/
.form{

  width: 500px;
  height:500px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 13px;
  overflow: hidden;
}



.onoffswitch {
    position: relative;
    display:inline-block;
    width: 90px;               
    float:right;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 19px;
    background-color: #46E33B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 19px;
    background-color: #F50000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 16px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.input-field{

      width: 100%;
      padding:20px 0;
      margin: 5px 0;
      border-left: 0;
      border-top: 0;
      border-bottom: 1px;
      border-right:0 solid #999;
      outline: rgb(43, 38, 38) ;
      background: rgb(240, 243, 245);

}

.profile{
  background-color: white;
  display:flex;
  flex-basis: 60%;
  padding: 40px 60px;
  outline: blue;
  margin-left: 20%;
  margin-right: 20% ;

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
  float: none;
    display: inline;}


@media screen and (max-width: 500px) {
  .navbar a {
   float: none;
   display: inline;
      }
